* {
	background-color: lightslategrey
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

ol {
    text-align: center;
}

h1, h2 {
	margin: 1em 0 0 0;
	text-align: center;
}
h2 {
	margin: 0 0 1em 0;
}
#container {
		background: lightslategrey;
    margin: 0 auto;
    width: 50%;
}